<ul class="reports_menu">
    <li><a href="{{ path('reports_home') }}">Inventory</a></li>
    <li><a href="{{ path('reports_genparts') }}">Parts</a></li>
    {#<li><a href="{{ path('reports_invsum') }}">Inventory Summary</a></li>#}
    <li><a href="{{ path('reports_datesum') }}">Date Summary</a></li>
    <li><a href="{{ path('reports_onhold') }}">On Hold</a></li>
</ul>