{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SumitomoMain</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Indate</th>
                <td>{{ entity.indate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dano</th>
                <td>{{ entity.dano }}</td>
            </tr>
            <tr>
                <th>Partno</th>
                <td>{{ entity.partno }}</td>
            </tr>
            <tr>
                <th>Batchno</th>
                <td>{{ entity.batchno }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sumitomomain') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sumitomomain_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
